@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  --input: 214.3 31.8% 91.4%;
}

@layer utilities {
  *::-webkit-scrollbar {
    width: 6px;
  }

  .border-input {
    border-color: var(--input);
  }

  *::-webkit-scrollbar-thumb {
    cursor: default;
    border-radius: 50px;
    border: 1px solid #ccc;
    background-color: #000;
  }

  *::-webkit-scrollbar-thumb:hover {
    border: 1px solid gray;
  }

  *::-webkit-scrollbar {
    height: 3px;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 50px;
    border: 1px solid #ccc;
    background-color: #000;
  }

  *::-webkit-scrollbar-thumb:hover {
    border: 1px solid gray;
  }

  .zoomed-image {
    transform: scale(2.5);
  }
}
